<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klinik - Clinic Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="img/logo.png" alt="Klinik Logo" class="img-fluid logo-small">
        </a>               
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="index.html" class="nav-item nav-link">About</a>
                <a href="index.html" class="nav-item nav-link">Genes</a>
            </div>
            <a href="contact.html" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">DIAGNOSA</a>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Formulir Diagnosa</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="contact.html">Diagnosa</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-light rounded p-5">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Formulir Diagnosa</p>
                        <h1 class="mb-4">Come on, try to diagnose your condition!</h1>
                        <p class="mb-4">Enter according to the form.</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your Gender</option>
                                            <option value="Option 1">Female</option>
                                            <option value="Option 2">Male</option>
                                        </select>
                                        <label for="options">Gender</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Age</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your Race</option>
                                            <option value="Option 1">White</option>
                                            <option value="Option 2">Black or African American</option>
                                            <option value="Option 2">Asian</option>
                                            <option value="Option 2">American Indian or Alaska Native</option>
                                        </select>
                                        <label for="options">Race</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your IDH1</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">IDH1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your TP53</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">TP53</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your ATRX</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">ATRX</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your PTEN</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">PTEN</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your EGFR</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">EGFR</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your CIC</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">CIC</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your MUC16</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">MUC16</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your PIK3CA</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">PIK3CA</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your NF1</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">NF1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your PIK3R1</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">PIK3R1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your FUBP1</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">FUBP1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your RB1</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">RB1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your NOTCH1</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">NOTCH1</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your BCOR</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">BCOR</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your CSMD3</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">CSMD3</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your SMARCA4</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">SMARCA4</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your GRIN2A</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">GRIN2A</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your IDH2</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">IDH2</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your FAT4</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">FAT4</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="options" aria-label="Floating label select example">
                                            <option value="" disabled selected>Choose Your PDGFRA</option>
                                            <option value="Option 1">Mutated</option>
                                            <option value="Option 2">Not Mutated</option>
                                        </select>
                                        <label for="options">PDGFRA</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="button" onclick="window.location.href='about.html';">Send Diagnosa</button>
                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Brain Cancer</a>, Kelompok 3.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="">Kelompok 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>