<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klinik - Clinic Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Klinik Logo" class="img-fluid logo-small">
        </a>               
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#Genes" class="nav-item nav-link">Genes</a>
            </div>
            <a href="{{ url_for('contact') }}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">DIAGNOSA</a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid header bg-primary p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white mb-5">Good Health Is The Root Of All Heppiness</h1>
                <div class="row g-4">
                    <div class="col-sm-3">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">24.530</h2>
                            <p class="text-light mb-0">Brain Cancer</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">34.000</h2>
                            <p class="text-light mb-0">Lung Cancer</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up"> 68.858</h2>
                            <p class="text-light mb-0">Breast Cancer</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">236.765</h2>
                            <p class="text-light mb-0">Prostate Cancer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/2.jpg') }}" alt="">
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/3.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src="{{ url_for('static', filename='img/4.jpg') }}" alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="img/5.jpg" alt="" style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">About Brain Cancer</p>
                    <h1 class="mb-4">What is brain cancer?</h1>
                    <p>Kanker otak adalah kanker yang terjadi akibat tumbuhnya sel-sel abnormal dan ganas di dalam otak. Sel-sel kanker tersebut bisa berasal dari otak atau dari organ lain yang menyebar ke otak.</p>
                    <p class="mb-4">Kanker otak dan tumor otak adalah dua kondisi yang berbeda, walaupun keduanya mirip dan berkaitan, disini akan kita bahas (inti) perbedaan keduanya beserta gejala, penyebab, diagnosis dan pengobatannya.</p>
                    <p class="mb-4">Tumor otak adalah suatu massa jaringan yang terbentuk akibat dari pertumbuhan sel-sel otak yang abnormal (tidak terkontrol). Tumor adalah istilah umum untuk jaringan yang membentuk massa abnormal.</p>
                    <p class="mb-4">Sedangkan kanker otak adalah pertumbuhan sel-sel di otak yang abnormal atau tidak terkontrol yang bersifat ganas artinya dapat menyebar dan menyerang organ tubuh lainnya.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Formulir Diagnosa</a>
                </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Genes Start -->
    <div class="container-xxl py-5" id="Genes">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">All Genes</p>
                <h1>What are the genes in brain cancer?</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">IDH1</h4>
                        <p>Isositrat dehidrogenase adalah enzim yang berperan dalam siklus asam sitrat (siklus Krebs) 
                        di dalam sel. Enzim ini mengkatalisis konversi isositrat menjadi α-ketoglutarat melalui proses 
                        oksidatif dekarboksilasi, yang menghasilkan NADH atau NADPH dan melepaskan molekul CO₂.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">TP53</h4>
                        <p class="mb-4">Tumor protein p53, atau dikenal sebagai p53, adalah protein yang berfungsi sebagai 
                            penjaga genom karena perannya dalam menjaga kestabilan sel dengan mencegah mutasi genetik. P53 
                            merupakan faktor transkripsi yang diaktifkan saat sel mengalami stres, seperti kerusakan DNA, 
                            hipoksia, atau sinyal pertumbuhan yang tidak normal.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">ATRX</h4>
                        <p class="mb-4">ATRX (Alpha Thalassemia/Mental Retardation Syndrome X-linked) adalah gen yang mengkode 
                            protein yang berperan sebagai chromatin remodeler, yakni protein yang berfungsi dalam mengatur 
                            struktur kromatin, yang pada gilirannya mempengaruhi ekspresi gen.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">PTEN</h4>
                        <p class="mb-4">Phosphatase and Tensin Homolog (PTEN) adalah gen penekan tumor yang mengkode protein PTEN, 
                            yaitu enzim yang berperan penting dalam mengatur pertumbuhan sel, proliferasi, dan kelangsungan hidup. 
                            PTEN berfungsi sebagai fosfatase lipid dan protein, yang memodifikasi molekul dengan menghilangkan gugus
                            fosfat dari protein atau lipid tertentu.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">EGFR</h4>
                        <p class="mb-4">Epidermal Growth Factor Receptor (EGFR) adalah protein yang terletak di permukaan sel dan 
                            berfungsi sebagai reseptor untuk faktor pertumbuhan yang disebut Epidermal Growth Factor (EGF). EGFR 
                            adalah bagian dari keluarga reseptor tirosin kinase, yang berperan penting dalam pengaturan proses vital 
                            seperti pertumbuhan, proliferasi, dan diferensiasi sel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">CIC</h4>
                        <p class="mb-4">Capicua (CIC) adalah faktor represor transkripsi yang mengatur ekspresi gen dengan menghambat 
                            transkripsi gen tertentu. CIC dikenal berperan dalam berbagai proses perkembangan sel dan organisme, terutama 
                            dalam jalur sinyal RAS/MAPK. CIC bertindak sebagai penghambat ekspresi gen target dalam jalur ini, menjaga 
                            keseimbangan pertumbuhan sel, proliferasi, dan diferensiasi.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">MUC16</h4>
                        <p class="mb-4">Mucin 16 (MUC16) adalah protein yang berada di permukaan sel dan termasuk dalam keluarga mukin, 
                            yaitu protein dengan struktur yang sangat kaya akan glikoprotein. MUC16 dikenal karena ukurannya yang sangat 
                            besar dan juga perannya sebagai penanda tumor.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">PIK3CA</h4>
                        <p class="mb-4">Phosphatidylinositol-4,5-bisphosphate 3-kinase catalytic subunit alpha (PIK3CA) adalah gen yang 
                            mengkode subunit katalitik dari enzim phosphoinositide 3-kinase (PI3K). PI3K adalah enzim penting dalam regulasi 
                            sinyal intraseluler yang mengontrol pertumbuhan, proliferasi, kelangsungan hidup, dan motilitas sel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">NF1</h4>
                        <p class="mb-4">Neurofibromin 1 (NF1) adalah protein yang dihasilkan oleh gen NF1, yang berfungsi sebagai penekan tumor. 
                            NF1 berperan penting dalam mengatur jalur sinyal seluler yang melibatkan Ras, sebuah protein yang terlibat dalam
                            pengaturan pertumbuhan, diferensiasi, dan kelangsungan hidup sel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">PIK3R1</h4>
                        <p class="mb-4">Phosphoinositide-3-kinase regulatory subunit 1 (PIK3R1), juga dikenal sebagai p85α, adalah subunit regulator 
                            dari enzim phosphoinositide 3-kinase (PI3K). PIK3R1 berperan penting dalam mengatur aktivitas PI3K, yang merupakan bagian
                            dari jalur sinyal yang mengontrol berbagai fungsi seluler, termasuk pertumbuhan, proliferasi, dan kelangsungan hidup sel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">FUBP1</h4>
                        <p class="mb-4">Far Upstream Element Binding Protein 1 (FUBP1) adalah protein yang berperan sebagai faktor transkripsi dan 
                            pengatur ekspresi gen. FUBP1 mengikat elemen far upstream element (FUSE) yang terletak di wilayah promotor gen tertentu, 
                            yang memengaruhi transkripsi gen tersebut.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">RB1</h4>
                        <p class="mb-4">RB Transcriptional Corepressor 1 (RB1) adalah protein yang berperan sebagai penekan tumor dan merupakan bagian 
                            dari kompleks yang mengatur transkripsi gen. RB1 dikenal karena fungsinya dalam pengendalian siklus sel dan diferensiasi 
                            sel, terutama dalam konteks pencegahan proliferasi sel yang tidak terkendali.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">NOTCH1</h4>
                        <p class="mb-4">Notch Receptor 1 (NOTCH1) adalah salah satu anggota dari keluarga reseptor Notch, yang berperan penting dalam 
                            pengaturan komunikasi seluler dan perkembangan berbagai jenis jaringan dan organ. Reseptor Notch berfungsi sebagai reseptor 
                            transmembran yang terlibat dalam jalur sinyal yang memengaruhi diferensiasi sel, proliferasi, dan kelangsungan hidup sel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">BCOR</h4>
                        <p class="mb-4">BCL6 Corepressor (BCOR) adalah protein yang berfungsi sebagai faktor transkripsi dan corepressor dalam regulasi 
                            ekspresi gen. BCOR memainkan peran penting dalam pengaturan diferensiasi sel dan fungsi sel imun, serta dalam perkembangan 
                            beberapa jenis jaringan.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">CSMD3</h4>
                        <p class="mb-4">CUB and Sushi Multiple Domains 3 (CSMD3) adalah protein yang terlibat dalam pengaturan perkembangan sistem saraf 
                            dan interaksi sel. CSMD3 merupakan anggota dari keluarga protein yang memiliki domain CUB (C1r/C1s, Uegf, Bmp1) dan domain 
                            Sushi, yang berperan dalam berbagai proses biologis.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">SMARCA4</h4>
                        <p class="mb-4">SWI/SNF Related, Matrix Associated, Actin Dependent Regulator of Chromatin, Subfamily A, Member 4 (SMARCA4), 
                            juga dikenal sebagai BRG1, adalah salah satu subunit dari kompleks SWI/SNF (SWItch/Sucrose Non-Fermentable) yang berperan 
                            dalam modifikasi kromatin dan regulasi ekspresi gen. Komplek SWI/SNF berfungsi sebagai remodeler kromatin yang mengubah 
                            struktur kromatin untuk memfasilitasi aksesibilitas DNA bagi faktor transkripsi.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">GRIN2A</h4>
                        <p class="mb-4">Glutamate Ionotropic Receptor NMDA Type Subunit 2A (GRIN2A) adalah salah satu subunit dari reseptor glutamat 
                            yang tergolong dalam kelas ionotropik, khususnya reseptor N-Metil-D-Aspartat (NMDA). Reseptor ini sangat penting dalam 
                            pengaturan sinyal neurotransmisi di sistem saraf pusat, serta dalam proses pembelajaran dan memori.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">IDH2</h4>
                        <p class="mb-4">Isocitrate Dehydrogenase (NADP(+)) 2 (IDH2) adalah enzim yang terlibat dalam metabolisme seluler, khususnya 
                            dalam siklus asam sitrat (siklus Krebs). IDH2 mengkatalisis reaksi dekarboksilasi isositrat menjadi alfa-ketoglutarat, 
                            sambil mengubah NADP⁺ menjadi NADPH. NADPH yang dihasilkan memiliki peran penting dalam biosintesis, pemeliharaan keseimbangan 
                            redoks, dan perlindungan terhadap stres oksidatif.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">FAT4</h4>
                        <p class="mb-4">FAT Atypical Cadherin 4 (FAT4) adalah anggota dari keluarga cadherin, yang merupakan protein transmembran yang 
                            berperan penting dalam pengikatan sel ke sel (cell adhesion) dan pengaturan interaksi antar sel. Cadherin biasanya terlibat 
                            dalam menjaga struktur jaringan, pengembangan embrionik, dan proses yang terkait dengan pengaturan pertumbuhan dan diferensiasi 
                            sel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <h4 class="mb-3">PDGFRA</h4>
                        <p class="mb-4">Platelet-Derived Growth Factor Receptor Alpha (PDGFRA) adalah salah satu reseptor yang berfungsi untuk mengikat 
                            platelet-derived growth factor (PDGF), yang berperan penting dalam berbagai proses biologis, termasuk pertumbuhan sel, pembentukan 
                            pembuluh darah, dan perbaikan jaringan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Genes End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Brain Cancer</a>, Kelompok 3.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="">Kelompok 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>